.header-container{
    width: 100%;
    height : 30px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.header-list{
    display: flex;
    flex-direction: row;
}

.header-list ul{
    list-style-type: none;
}